version: "3.8"

services:
  shblog:
    container_name: shblog
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: always
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod

  frontend:
    container_name: shblog-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3050:3000"
    restart: always
    environment:
      - NODE_ENV=production
